<h1>Editing worktype</h1>

<% form_for(@worktype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :preload %><br />
    <%= f.check_box :preload %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @worktype %> |
<%= link_to 'Back', worktypes_path %>
