<h1>Listing worktypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Preload</th>
  </tr>

<% for worktype in @worktypes %>
  <tr>
    <td><%=h worktype.name %></td>
    <td><%=h worktype.description %></td>
    <td><%=h worktype.preload %></td>
    <td><%= link_to 'Show', worktype %></td>
    <td><%= link_to 'Edit', edit_worktype_path(worktype) %></td>
    <td><%= link_to 'Destroy', worktype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New worktype', new_worktype_path %>
