<h1>Editing projecttrack</h1>

<% form_for(@projecttrack) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </p>
  <p>
    <%= f.label :yearmonth %><br />
    <%= f.date_select :yearmonth %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :reportdate %><br />
    <%= f.date_select :reportdate %>
  </p>
  <p>
    <%= f.label :daysbooked %><br />
    <%= f.text_field :daysbooked %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @projecttrack %> |
<%= link_to 'Back', projecttracks_path %>
