<h1>Listing projecttracks</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Year/month</th>
    <th>Project</th>
    <th>Report date</th>
    <th>Days booked</th>
  </tr>

<% for projecttrack in @projecttracks %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h team_by_id(projecttrack.team_id) %></td>
    <td><%=h projecttrack.yearmonth %></td>
    <td><%=h project_by_id(projecttrack.project_id) %></td>
    <td><%=h projecttrack.reportdate %></td>
    <td><%=h projecttrack.daysbooked %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0), edit_projecttrack_path(projecttrack) %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/editdelete.png", :border=>0), projecttrack, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New projecttrack', new_projecttrack_path %>
