<h1>Imported Data</h1>

<p>
	Reporting month: <%=h @report_date.to_s %>
</p>
<%= "Total number of lines with errors: "+@errors.to_s if @errors>0 %>
<%= "Data OK." if @errors == 0 %> 
<%=  button_to("Proceed", :action => :do_conversion, :tracks => @tracks) if @errors==0 %>
</p>
<table>
  <tr>
    <th>Pernr</th>
    <th>Name</th>
    <th>Task</th>
    <th>Days</th>
    <th>EE</th>
	<th>Prj</th>  
</tr>

<% for track in @tracks %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="text"><%=h track[:pernr] %></td>
    <td class="text"><%=h track[:name] %></td>
    <td class="text"><%=h track[:task] %></td>
    <td><%=h track[:days] %></td>
    <td class="text"><img src="<%= track_status_image(track[:eeok]) %>"></td>
    <td class="text"><img src="<%= track_status_image(track[:prok]) %>"></td>
  </tr>
<% end %>
</table>

<br />
