<h1>Imported Data</h1>

<table>
  <tr>
    <th>Pernr</th>
    <th>Name</th>
    <th>Task</th>
    <th>Days</th>
    <th>EE</th>
	<th>Prj</th>  
</tr>

<% for track in @tracks %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="text"><%=h track[:pernr] %></td>
    <td class="text"><%=h track[:name] %></td>
    <td class="text"><%=h track[:task] %></td>
    <td class="text"><%=h track[:days] %></td>
    <td class="text"><img src="<%= track_status_image(track[:eeok]) %>"></td>
    <td class="text"><img src="<%= track_status_image(track[:prok]) %>"></td>
  </tr>
<% end %>
</table>

<br />
