<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
<td class="text"><%= h Team.find(report_wt_cumul[:team_id]).name %></td>
<td class="text"><%= h Worktype.find(report_wt_cumul[:worktype_id]).name %></td>
<td><%= h report_wt_cumul[:daysbooked] %></td>
<td><%= h report_wt_cumul[:perc].round(1) %>&#037;</td>
</tr>
