<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
<td class="text"><%= h Team.find(report_wt_track[:team_id]).name %></td>
<td class="text"><%= h report_wt_track[:month]%></td>
<td class="text"><%= h Worktype.find(report_wt_track[:worktype_id]).name %></td>
<td><%= h report_wt_track[:daysbooked] %></td>
</tr>
