<h1>New employee</h1>

<% form_for(@employee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pernr %><br />
    <%= f.text_field :pernr %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', employees_path %>
