<h1>Listing users</h1>

<div class="link-create">
	<span class="vcenter"><%= link_to image_tag("/images/icons/edit_add.png", :border=>0, :alt => "new user"), new_user_path %></span>
	<span class=\"vcenter"><%= link_to 'New User', new_user_path %></span>
</div>

<table>
  <tr>
    <th>Name</th><th>Team</th>
  </tr>

<% for user in @users %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="text"><%=h user.name %></td>
    <td class="text"><%=h user.team.name unless user.team.nil? %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/info.png", :border=>0), user %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0), edit_user_path(user) %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/editdelete.png", :border=>0), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


