<h1>Listing teammembers</h1>

<table>
  <tr>
    <th>Eid</th>
    <th>Tid</th>
    <th>Endda</th>
    <th>Begda</th>
  </tr>

<% for teammember in @teammembers %>
  <tr>
    <td><%=h teammember.eid %></td>
    <td><%=h teammember.tid %></td>
    <td><%=h teammember.endda %></td>
    <td><%=h teammember.begda %></td>
    <td><%= link_to 'Show', teammember %></td>
    <td><%= link_to 'Edit', edit_teammember_path(teammember) %></td>
    <td><%= link_to 'Destroy', teammember, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New teammember', new_teammember_path %>
