<h1>New Team Member</h1>

<% form_for(@teammember) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :employee_id %><br />
 	<%=
 		f.collection_select(:employee_id, employee_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :team_id %><br />
 	<%=
 		f.collection_select(:team_id, team_list, :id, :name)
	%>
  </p>
  <%= f.label "% available" %><br />
 	<%=
 		f.text_field(:percentage, :size => 3)
	%>
  </p>     
  <p>
    <%= f.label :planbeg %><br />
    <%= f.text_field :begda %>
  </p>
  <p>
    <%= f.label :planend %><br />
    <%= f.text_field :endda %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', teammembers_path %>
