<p>
  <b>Team Member:</b>
  <%=h  @output[:teamname] %>
</p>
<p>
  <b>Responsible:</b>
  <%=h @output[:employeename] %>
</p>
<p>
  <b>Planned Begin:</b>
  <%=h @output[:planbeg] %>
</p>
<p>
  <b>Planned End:</b>
  <%=h @output[:planend] %>
</p>


<%= link_to 'Edit', edit_teammember_path(@output[:classname]) %> |
<%= link_to 'Back', teammembers_path %>
