<p>
  <b>Eid:</b>
  <%=h @teammember.eid %>
</p>

<p>
  <b>Tid:</b>
  <%=h @teammember.tid %>
</p>

<p>
  <b>Endda:</b>
  <%=h @teammember.endda %>
</p>

<p>
  <b>Begda:</b>
  <%=h @teammember.begda %>
</p>


<%= link_to 'Edit', edit_teammember_path(@teammember) %> |
<%= link_to 'Back', teammembers_path %>
