<tr id="<%= "project-#{project_item.id}" %>" class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text">
            <%= if project_item.preload? == true then 
                  "<img src=\"/images/icons/up.png\" title=\"Preload\" alt=\"Preload\">" 
            else
                  "<img src=\"/images/icons/down.png\" title=\"No Preload\" alt=\"No Preload\">" 
            end
            %></td>
        <% country = country_by_id(project_item.country) %>
	<td class="text"><%= h country.isocode unless country.nil? %></td>
	<td class="text"><%= h project_item.name %></td>
	<td class="text"><%= h project_type_of(project_item.id) %></td>
	<% report_date = session[:report_date].to_date if session[:report_date]
	   report_date ||= Date::today 
	   planeffort = project_item.planeffort 
	   curr       = project_item.days_committed(report_date) 
	   tot        = project_item.days_committed() %>
	<td><%= h planeffort %></td>
	<td><%= h curr %></td>
	<td <%= "class='cell-warning'" if tot > planeffort -%> ><%= h tot %></td>
	<td><img src="<%= project_status_image(project_item.status?) %>" alt="<%= project_status_text(project_item.status?) %>" title="<%= project_status_text(project_item.status?) %>"></td>
<% if project_item.status? == Project::StatusProposed then %>
<% if check_link_auth("projects","prj_accept") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/button_ok.png", :border=>0, :title => "accept project", :alt => "accept project"), :url => {:controller => "projects", :action => "prj_accept", :id => project_item.id},
	 :update => { :success => "project_list" } %></td>	
<% end %>
<% if check_link_auth("projects","prj_reject") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/button_cancel.png", :border=>0, :title => "reject project", :alt => "reject project"), :url => {:controller => "projects", :action => "prj_reject", :id => project_item.id},
	 :update => { :success => "project_item"} %></td>	
<% end %>
<% else %>
<% if project_item.status? != Project::StatusRejected then %>
<% if check_link_auth("projects","prj_start") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/player_play.png", :border=>0, :title => "start project", :alt => "start project"), :url => {:controller => "projects", :action => "prj_start", :id => project_item.id},
	 :update => { :success => "project_item"} %></td>	
<% end %>
<% if check_link_auth("projects","prj_pilot") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/xmag.png", :border=>0, :title => "project in testing/pilot", :alt => "project in testing/pilot"), :url => {:controller => "projects", :action => "prj_pilot", :id => project_item.id},
	:update => { :success => "project_item" } %></td>	
<% end %>
<% if check_link_auth("projects","prj_close") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/player_stop.png", :border=>0, :title => "close project", :alt => "close project"), :url => {:controller => "projects", :action => "prj_close", :id => project_item.id},
        :update => { :success => "project_item"} %></td>
<% end %>
<% end %>
<% end %>
<% if check_link_auth("projects","edit") then %>
	<td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0, :title => "edit project data", :alt => "edit project data"), edit_project_path(project_item.id) %></td>
<% end %>
</tr>
