<% if @changed_project == project_item[0] then %>
<tr id="current_item" class="<%= cycle('list-line-odd', 'list-line-even') %>">
<% else %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
<% end %>
	<td class="text"><%= h country_by_id(project_item[1][:country]).isocode %></td>
	<td class="text"><%= h project_item[1][:name] %></td>
	<td class="text"><%= h project_type_of(project_item[0]) %></td>
	<td><%= h project_item[1][:committed_total] + @missingdays[project_item[0]]%></td>
	<td><%= h project_item[1][:committed_inper]%></td>
	<td class="<%= 'cell-OK' if @missingdays[project_item[0]]==0 %>"><%= h project_item[1][:committed_total] %></td>
	<td class="<%= 'cell-error' if @missingdays[project_item[0]]<0 %>"><%= h @missingdays[project_item[0]] %></td>
	<td><img src="<%= project_status_image(project_item[1][:status]) %>" alt="<%= project_status_text(project_item[1][:status]) %>"></td>
<% if project_item[1][:status] == Project::StatusProposed then %>
<% if check_link_auth("projects","prj_accept") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/button_ok.png", :border=>0, :alt => "accept project"), :url => {:controller => "projects", :action => "prj_accept", :id => project_item[0]},
	 :update => { :success => "project_list" } %></td>	
<% end %>
<% if check_link_auth("projects","prj_reject") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/button_cancel.png", :border=>0, :alt => "reject project"), :url => {:controller => "projects", :action => "prj_reject", :id => project_item[0]},
	 :update => { :success => "project_list"} %></td>	
<% end %>
<% else %>
<% if project_item[1][:status] != Project::StatusRejected then %>
<% if check_link_auth("projects","prj_start") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/player_play.png", :border=>0, :alt => "start project"), :url => {:controller => "projects", :action => "prj_start", :id => project_item[0]},
	 :update => { :success => "project_list"} %></td>	
<% end %>
<% if check_link_auth("projects","prj_pilot") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/xmag.png", :border=>0, :alt => "project in testing/pilot"), :url => {:controller => "projects", :action => "prj_pilot", :id => project_item[0]},
	:update => { :success => "project_list" } %></td>	
<% end %>
<% if check_link_auth("projects","prj_close") then %>
	<td class="cell-action"><%= link_to_remote image_tag("/images/icons/player_stop.png", :border=>0, :alt => "close project"), :url => {:controller => "projects", :action => "prj_close", :id => project_item[0]},
        :update => { :success => "project_list"} %></td>
<% end %>
<% end %>
<% end %>
<% if check_link_auth("projects","edit") then %>
	<td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0, :alt => "edit project data"), edit_project_path(project_item[0]) %></td>
<% end %>
</tr>
