<h1>Editing Project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

   <p>
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Begin (Planned)" %><br />
    <%= f.date_select :planbeg %>
  </p>
  <p>
    <%= f.label "End (Planned)" %><br />
    <%= f.date_select :planend %>
  </p>
   <p>
    <%= f.label "Effort (Planned)" %><br />
    <%= f.text_field :planeffort %>
  </p> 
  <p>
    <%= f.label "Country" %><br />
 	<%=
 		f.collection_select(:country_id, country_list, :id, :name)
	%>
  </p>

  <p>
    <%= f.label "Type of Project" %><br />
 	<%=
 		f.collection_select(:worktype_id, worktype_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label "Responsible" %><br />
 	<%=
 		f.collection_select(:employee_id, employee_list, :id, :name)
	%>
  </p>
    <p>
    <%= f.label "Status" %><br />
 	<%=
 		f.collection_select(:status, project_status_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
