<h1>Project List</h1>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>


<div id="projects">
<table>
<tr><th>Project</th><th>Begin (Plan)</th><th>End (Plan)</th><th>Effort (Plan)</th><th>Type</th><th>Country</th><th>Responsible</th><th>Committed</th><th>Missing</th><th>Status</th></tr>
<%   @outputlist.each do |project| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text"><%= h project[:name] %></td>
	<td class="text"><%= h project[:planbeg] %></td>
	<td class="text"><%= h project[:planend] %></td>
	<td><%= h project[:planeffort] %></td>
	<td class="text"><%= h project[:worktypename] %></td>
	<td class="text"><%= h project[:countryname] %></td>
	<td class="text"><%= h project[:employeename] %></td>
	<td><%= h project[:committed] %></td>
	<td><%= h project[:missing] %></td>
	<td class="text"><img src="<%= project_status_image(project[:status]) %>"></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0), edit_project_path(project[:classname]) %></td>
    <td class="cell-action"><%= link_to image_tag("/images/icons/editdelete.png", :border=>0), project[:classname], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
 <%end%>
</table>
<%= link_to 'New Project', new_project_path %>
</div>


