<h1>New Project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Project name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Project area" %><br />
 	<%=
 		f.collection_select(:projectarea_id, projectarea_list, :id, :area)
	%>
  </p>

  <p>
    <%= f.label "Begin (Planned)" %><br />
    <%= f.date_select :planbeg %>
  </p>
  <p>
    <%= f.label "End (Planned)" %><br />
    <%= f.date_select :planend %>
  </p>
   <p>
    <%= f.label "Effort (Planned)" %><br />
    <%= f.text_field :planeffort %>
  </p> 
  <p>
    <%= f.label "Country" %><br />
 	<%=
 		f.collection_select(:country_id, country_list, :id, :name)
	%>
  </p>

  <p>
    <%= f.label "Project Type" %><br />
 	<%=
 		f.collection_select(:worktype_id, worktype_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label "Responsible" %><br />
 	<%=
 		f.collection_select(:employee_id, employee_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label "SRS location" %><br />
 	<%=
 		f.text_field :srs_url
	%>
  </p>
  <p>
    <%= f.label "SDD location" %><br />
 	<%=
 		f.text_field :sdd_url
	%>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
