<h1>My Team</h1>
<h2><%= link_to '<<<', {:action => "index", :controller =>
"myteam", :report_date => @report_date<<(1) } %>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
<%= link_to '>>>',  {:action => "index", :controller =>
"myteam", :report_date => @report_date>>(1) } %>
</h2>

<div class="table-wrap">
<h2>Plan</h2>
<div class="table-row">
<div class="table-cell">
<%= render(:partial => "teamcommitments/commitment_list", :object => @teamcommitments) %>
</div>
<div id="projectstats" class="table-cell">	
<%= render(:partial => "projects/project_list", :object => @allprojects) %>
</div>
</div>


</div>
</div>
<div class="table-row">
<h2>Reviews (current projects)</h2>	

<table>
  <tr>
    <th>Country</th>
    <th>Project</th>
    <th>Area</th>
    <th>Type</th>
    <th>Begin Date</th>
    <th>End Date (Planned)</th>
    <th>Reviewers</th>
    <th>SRS location</th>
    <th>SDD location</th>
    <th>Spec?</th>
    <th>Design?</th>
    <th>Code?</th>
  </tr>

<% for project in @currentprojects %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>" >
    <td class="text"><%=h country_by_id(project.country).isocode %></td>
    <td class="text"><%=h project.name %></td>
    <td class="text"><%=h project.projectarea.area unless project.projectarea.nil? %></td>
    <td class="text"><%=h project.worktype.name %></td>
    <td class="text"><%=h project.planbeg.to_s %></td>
    <td class="text"><%=h project.planend.to_s %></td>
    <td class="text">
          <%project.employees.each do |ee|%>
            <%=h "- #{ee.name}"%> 
          <%end%>
    </td>
    <td class="text"><%=h project.srs_url %></td>
    <td class="text"><%=h project.sdd_url %></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewSpec) %>" title="<%= review_result_txt_for_prj(project.id,Review::ReviewSpec) %>" alt="<%= review_result_txt_for_prj(project.id,Review::ReviewSpec) %>"></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewDesign) %>" title="<%= review_result_txt_for_prj(project.id,Review::ReviewDesign) %>" alt="<%= review_result_txt_for_prj(project.id,Review::ReviewDesign) %>"></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewCode) %>" title="<%= review_result_txt_for_prj(project.id,Review::ReviewCode) %>" alt="<%= review_result_txt_for_prj(project.id,Review::ReviewCode) %>"></td>
</tr>
<% end %>
</table>
</div>
</div>

<div class="table-row">

<div id="projects-wrap">
<h2>Ad-hoc Report </h2>
<div id="projects-row">


<div id="projects-left">
<h3>Backlog and ad-hoc work</h3>
<p>
<strong>Avoid / keep low:</strong><br/>
Backlog: pending, open projects without commitments<br/>
Ad-hoc work: unplanned work, time spent without commitment<br/>
<br/>
<% 
  ad_hoc_work = @team.ad_hoc_work(@report_date) 
  backlog = @team.backlog(@report_date)
%>
<strong>Backlog:</strong> <%=h backlog[:projects]%> projects (<%=h backlog[:percentage]%>%) <br/>
<strong>Ad-hoc work:</strong> <%=h ad_hoc_work[:tasks]%> tasks (<%=h ad_hoc_work[:percentage]%>%) <br/>
</p>
<br/><br/>
<table>
<tr><th>Ctry</th><th>Project</th><th>Plan</th><th>Act</th><th>Trend</th><th>Cat</th><th>Stat</th></tr>
<%   @allprojects.each do |project| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text"><%= h project.country.isocode %></td>
	<td class="text"><%= h project.name %></td>
	<% plan       = project.days_committed(@report_date) 
	   act        = project.days_booked(@report_date) %>
	<td><%= h plan %></td>
	<td><%= h act %></td>
	<td><img src="<%= project_trend_image(plan,act) %>"></td>
	<td class="text"><%= h project_quintile(plan,act) %></td>
	<td><img src="<%= project_status_image(project.status) %>" title= "<%= project_status_text(project.status) %>" alt="<%= project_status_text(project.status) %>"></td>
</tr>
 <%end%>
</table>
</div>

<div id="projects-middle">
<div id="graph_wt">
<%= ziya_chart graph_worktypes_url, :size => "400x400" -%>
</div>
<br>
<div id="graph_quintiles">
<%= ziya_chart graph_quintiles_url, :size => "600x400" -%>
</div>
</div>
</div>
</div>
</div>
