<h1>Assign developers to <%=h @teamcommitment.project.name%> in <%=h @teamcommitment.yearmonth.to_s %></h1>

<% form_for(@teamcommitment) do |f| %>
  <%= f.error_messages %>
     <% employees = Employee.find(:all, :order => "name") %>
<p>
     <% for ee in employees -%>
      <% team=ee_current_team(ee.id,@teamcommitment.yearmonth) %>
      <% team_id = team.id unless team.nil? %>
      <% if team_id == @teamcommitment.team_id %>
        <%= check_box_tag "teamcommitment[employee_ids][]","#{ee.id}", ee_is_assigned_to(ee.id,@teamcommitment.id) -%> 
        <%= "#{ee.name} (#{team.name})" -%>
        <br/>
      <% end -%>
     <% end -%>
</p>
<p>
    <%= f.submit "Update" %>
  </p>
<% end %>

