<h1>Editing Commitment</h1>

<% form_for(@teamcommitment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
	<%=
 		f.collection_select(:team_id, team_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :yearmonth %><br />
    <%= f.date_select :yearmonth %>
  </p>
  <p>
    <%= f.label :project_id %><br />
 	<%=
 		f.collection_select(:project_id, project_list_current, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.collection_select(:status, @teamcommitment.commitment_status_list, :id, :name) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @teamcommitment %> |
<%= link_to 'Back', teamcommitments_path %>
