<h1>Editing teamcommitment</h1>

<% form_for(@teamcommitment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
	<%=
 		@teams = Team.find(:all, :order => "name" )
 		f.collection_select(:team_id, @teams, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :yearmonth %><br />
    <%= f.date_select :yearmonth %>
  </p>
  <p>
    <%= f.label :project_id %><br />
 	<%=
 		@projects = Project.find(:all, :order => "name" )
 		f.collection_select(:project_id, @projects, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @teamcommitment %> |
<%= link_to 'Back', teamcommitments_path %>
