<h1>Listing Team Commitments (Today +20-30 days)</h1>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>

<div id="list">
<table>
<tr><th>Team</th<th>Committed</th><th>Capacity</th><th>Free</th></tr>
<%   @teamusage.to_a.each do |team, used| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td><%= h team %></td><td><%= h used %></td>
	<td><%= h @capacities[team] %></td><td><%= h @freecapacity[team] %></td>
</tr>
 <%end%>
</table>


<table>
  <tr>
    <th>Team</th>
    <th>Month/Year</th>
    <th>Project</th>
    <th>Days</th>
  </tr>

<% for teamcommitment in @outputlist %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h teamcommitment[:teamname] %></td>
    <td><%=h teamcommitment[:yearmonth] %></td>
    <td><%=h teamcommitment[:projectname] %></td>
    <td><%=h teamcommitment[:days] %></td>
    <td><%= link_to 'Show', teamcommitment[:classname] %></td>
    <td><%= link_to 'Edit', edit_teamcommitment_path(teamcommitment[:classname]) %></td>
    <td><%= link_to 'Destroy', teamcommitment[:classname], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New teamcommitment', new_teamcommitment_path %>
