<h1>Team Commitment Planning</h1>
<h2><%= link_to '<<<', {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date<<(1) } %>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
<%= link_to '>>>',  {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date>>(1) } %></h2>

<div id="pagecontent">
<div id="top">
<div id="teams">
<div id="teamgraph">
<%= image_tag('/graph/graph_usage', :format => 'png') %>
</div>
<div id="teamstats">
<h2>Teams</h2>
<table>
<tr><th>Team</th><th>Committed</th><th>Capacity</th><th>Free</th></tr>
<%   @teamusage.to_a.each do |team, used| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text"><%= h team %></td>
	<td><%= h used %></td>
	<td><%= h @capacities[team] %></td>
	<td class="<%= 'cell-error' if @freecapacity[team]<0 %>"><%= h @freecapacity[team] %></td>
</tr>
 <%end%>
</table>
</div>
</div>
</div>

<div id="middle">
<div id="projects">
<div id="projectstats">
<%= render(:partial => "projects/project_list", :object => @projectplan) %>
</div>
</div>

<div id="teamcommitments">
<%= render(:partial => "commitment_list", :object => @outputlist) %>
</div>
</div>
</div>