<h1>Team Commitment Planning (current month)</h1>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<div id="pagecontent">
<div id="teams">
<div id="teamgraph">
<%= @graph %>
</div>
<div id="teamstats">
<h2>Teams</h2>
<table>
<tr><th>Team</th<th>Committed</th><th>Capacity</th><th>Free</th></tr>
<%   @teamusage.to_a.each do |team, used| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td><%= h team %></td><td><%= h used %></td>
	<td><%= h @capacities[team] %></td><td><%= h @freecapacity[team] %></td>
</tr>
 <%end%>
</table>
</div>
</div>

<div id="projects">
<div id="projectstats">	
<h2>Projects</h2>
<table>
<tr><th>Project</th><th>Planned</th><th>Committed</th><th>Missing</th></tr>
<%   @projectplan.to_a.each do |project, planned| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td><%= h project %></td><td><%= h planned+@missingdays[project] %></td><td><%= h planned %></td><td><%= h @missingdays[project] %></td>
</tr>
 <%end%>
</table>
<%= link_to 'New Project', new_project_path %>
</div>
</div>

<div id="teamcommitments">
<h2>Commitments</h2>
<table>
  <tr>
    <th>Team</th>
    <th>Month/Year</th>
    <th>Project</th>
    <th>Days</th>
  </tr>

<% for teamcommitment in @outputlist %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h teamcommitment[:teamname] %></td>
    <td><%=h teamcommitment[:yearmonth] %></td>
    <td><%=h teamcommitment[:projectname] %></td>
    <td><%=h teamcommitment[:days] %></td>
    <td><%= link_to 'Show', teamcommitment[:classname] %></td>
    <td><%= link_to 'Edit', edit_teamcommitment_path(teamcommitment[:classname]) %></td>
    <td><%= link_to 'Destroy', teamcommitment[:classname], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commitment', new_teamcommitment_path %>
</div>
</div>