<h1>Team Commitment Planning</h1>
<h2><%= link_to '<<<', {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date<<(1) } %>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
<%= link_to '>>>',  {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date>>(1) } %></h2>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<div id="pagecontent">
<div id="top">
<div id="teams">
<div id="teamgraph">
<%= @graph %>
</div>
<div id="teamstats">
<h2>Teams</h2>
<table>
<tr><th>Team</th<th>Committed</th><th>Capacity</th><th>Free</th></tr>
<%   @teamusage.to_a.each do |team, used| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text"><%= h team %></td>
	<td><%= h used %></td>
	<td><%= h @capacities[team] %></td>
	<td class="<%= 'cell-error' if @freecapacity[team]<0 %>"><%= h @freecapacity[team] %></td>
</tr>
 <%end%>
</table>
</div>
</div>
</div>

<div id="middle">
<div id="projects">
<div id="projectstats">	
<h2>Projects</h2>
<% if check_link_auth("projects","new") then %>
	<div class="link-create">	
		<span class="vcenter"><%= link_to image_tag("/images/icons/edit_add.png", :border=>0), new_project_path %></span>
        <span class="vcenter"><%= link_to 'New Project', new_project_path %></span>
	</div>
<% end %>

<table>
<tr><th>Ctry</th><th>Project</th><th>Plan</th><th>Curr</th><th>Tot</th><th>Miss</th><th></th></tr>
<%   @projectplan.sort{|a,b| a[1][:country]<=>b[1][:country]}.each do |project| %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td class="text"><%= h country_by_id(project[1][:country]).isocode %></td>
	<td class="text"><%= h project[1][:name] %></td>
	<td><%= h project[1][:committed_total] + @missingdays[project[0]]%></td>
	<td><%= h project[1][:committed_inper]%></td>
	<td class="<%= 'cell-OK' if @missingdays[project[0]]==0 %>"><%= h project[1][:committed_total] %></td>
	<td class="<%= 'cell-error' if @missingdays[project[0]]<0 %>"><%= h @missingdays[project[0]] %></td>
	<td><img src="<%= project_status_image(project[1][:status]) %>"></td>
<% if check_link_auth("projects","edit") then %>
	<td class="cell-action"><%= link_to image_tag("/images/icons/player_play.png", :border=>0), edit_project_path(project[0]) %></td>	
	<td class="cell-action"><%= link_to image_tag("/images/icons/launch_22x22.png", :border=>0), edit_project_path(project[0]) %></td>	
	<td class="cell-action"><%= link_to image_tag("/images/icons/player_stop.png", :border=>0), edit_project_path(project[0]) %></td>
	<td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0), edit_project_path(project[0]) %></td>
<% end %>
</tr>
 <%end%>
</table>
</div>
</div>

<div id="teamcommitments">
<h2>Commitments</h2>
<% if check_link_auth("teamcommitments","new") then %>
	<div class="link-create">
		<span class="vcenter"><%= link_to image_tag("/images/icons/edit_add.png", :border=>0), new_teamcommitment_path %></span>
		<span class=\"vcenter"><%= link_to 'New Commitment', new_teamcommitment_path %></span>
	</div>
<% end %>

<table>
  <tr>
    <th>Team</th>
    <th>Month/Year</th>
    <th>Project</th>
    <th>Days</th>
  </tr>

<% for teamcommitment in @outputlist %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="text"><%=h teamcommitment[:teamname] %></td>
    <td class="text"><%=h teamcommitment[:yearmonth] %></td>
    <td class="text"><%=h teamcommitment[:projectname] %></td>
    <td><%=h teamcommitment[:days] %></td>
<% if check_link_auth("teamcommitments","edit") then %>
    <td class="cell-action"><%= link_to image_tag("/images/icons/edit.png", :border=>0), edit_teamcommitment_path(teamcommitment[:classname]) %></td>
<% end %>
<% if check_link_auth("teamcommitments","delete") then %>
	<td class="cell-action"><%= link_to image_tag("/images/icons/editdelete.png", :border=>0), teamcommitment[:classname], :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
</div>
</div>
</div>