<h1>Team Commitment Planning</h1>
<h2><%= link_to '<<<', {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date<<(1) } %>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
<%= link_to '>>>',  {:action => "index", :controller =>
"teamcommitments", :report_date => @report_date>>(1) } %></h2>

<div id="pagecontent">
<div class="table-wrap">
<div class="table-row">
<div class="table-cell">
<%= image_tag('/graph/graph_usage', :format => 'png') %>
</div>
<div id="table-cell">
<%= render(:partial => "team_data", :object => @teams) %>
</div>
</div>


<div class="table-row">
<div class="table-cell">
<%= render(:partial => "commitment_list", :object => @outputlist) %>
</div>
<div class="table-cell">
<%= render(:partial => "projects/project_list", :object => @projectplan) %>
</div>
</div>

</div>
</div>