<h1>New teamcommitment</h1>

<% form_for(@teamcommitment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
	<%=
 		f.collection_select(:team_id, team_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :yearmonth %><br />
    <%= f.date_select :yearmonth %>
  </p>
  <p>
    <%= f.label :project_id %><br />
 	<%=
 		f.collection_select(:project_id, project_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', teamcommitments_path %>
