<h1>Editing cPro Link</h1>

<% form_for(@cpro_project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Project" %><br />
 	<%=
 		f.collection_select(:project_id, project_list, :id, :name)
	%>
  </p>
  <p>
    <%= f.label "cPro Project Name" %><br />
    <%= f.text_field :cpro_name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cpro_project %> |
<%= link_to 'Back', cpro_projects_path %>
