<h1>New cPro Link</h1>

<% form_for(@cpro_project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Project" %><br />
 	<%=
                @cpro_project.project_id = flash[:project_id] if flash[:project_id]
 		f.collection_select(:project_id, project_list, :id, :name)
	%>
  </p>
  </p>
  <p>
    <%= f.label "BW Name" %><br />
    <%= f.text_field :cpro_name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cpro_projects_path %>
