<h1>Reports</h1>

<h2>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
</h2>

<div id="projects-wrap">
<div id="projects-row">
<div id="projects-left">
	<h2>Projects in process</h2>
	<p>(Current month, Time booked > 0)</p>
	<table>
	<tr><th>Ctry</th><th>Project</th><th>Plan</th><th>Act</th><th>Trend</th><th>Cat</th><th>Stat</th></tr>
	<%   @allprojects.each do |project| %>
	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
		<td class="text"><%= h project.country.isocode %></td>
		<td class="text"><%= h project.name %></td>
		<% plan       = project.days_committed(@report_date) 
		   act        = project.days_booked(@report_date) %>
		<td><%= h plan %></td>
		<td><%= h act %></td>
		<td><img src="<%= project_trend_image(plan,act) %>"></td>
		<td class="text"><%= h project_quintile(plan,act) %></td>
		<td><img src="<%= project_status_image(project.status) %>" title= "<%= project_status_text(project.status) %>" alt="<%= project_status_text(project.status) %>"></td>
	</tr>
	 <%end%>
	</table>
</div>

<div id="projects-middle">
<div id="graph_wt">
<h2>Worktype distribution</h2>
<%= ziya_chart graph_worktypes_url, :size => "400x400" %>
</div>
<br>
<div id="graph_quint">
<h2>Commitments vs. booked</h2>
<%= ziya_chart graph_quintiles_url, :size =>"600x400" %>
</div>
</div>
</div>
</div>