<h1>Reports</h1>

<p>Team capacities of </p>

<% form_for :report_date do |form|%>
<%= form.date_select(Date.today, :order => [:day,:month,:year]) %>
<% form_remote_tag :url => { :action => :update_graph, :report_date => :report_date } do %>
  <%= submit_tag "Update" %>
<% end %>
<% end %>
<table>
<%   @capacities.to_a.each_with_index do |kv, i| %>
<tr><td><%= h kv[0] %></td><td><%= h kv[1] %></td></tr>
 <%end%>
</table>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>