<h1>Listing current projects for review</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Project</th>
    <th>Area</th>
    <th>Type</th>
    <th>Begin Date</th>
    <th>End Date (Planned)</th>
    <th>SRS location</th>
    <th>SDD location</th>
    <th>Spec?</th>
    <th>Design?</th>
    <th>Code?</th>
  </tr>

<% for project in @projects %>
<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="text"><%=h country_by_id(project.country).isocode %></td>
    <td class="text"><%=h project.name %></td>
    <td class="text"><%=h project.projectarea.area unless project.projectarea.nil? %></td>
    <td class="text"><%=h project.worktype.name %></td>
    <td class="text"><%=h project.planbeg.to_s %></td>
    <td class="text"><%=h project.planend.to_s %></td>
    <td class="text"><%=h project.srs_url %></td>
    <td class="text"><%=h project.sdd_url %></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewSpec) %>"></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewDesign) %>"></td>
    <td class="text"><img src="<%= review_result_img_for_prj(project.id,Review::ReviewCode) %>"></td>
<% if check_link_auth("reviews","new") %>
    <td class="cell-action"><%= link_to 'Review', "/reviews/review_project/#{project.id}" %></td>
    <td class="cell-action"><%= link_to 'View all Reviews', "/reviews/for_project/#{project.id}" %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
