<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>GSPlan</title>
  <%= stylesheet_link_tag 'scaffold', 'GSPlan', 'menu' %>
  <%= javascript_include_tag :defaults %>
 </head>
<body>

<div class="usermenu">
<%= link_to "Logout", :controller => "admin", :action => "logout" %>
</div>

<div class="aerobuttonmenu">
<div class="left">
<a href="/teamcommitments" class="aero"><span>Plan</span></a> 
<a href="/report" class="aero"><span>Report</span></a> 
<a href="/admin" class="aero"><span>Maintain</span></a> 
</div>
<div id="notice-confidential" class="right">
Internal &amp; Confidential
</div>
</div>


<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
